.account{
display:flex;
align-items:center;
gap:10px;
margin-left:20px;
}

#userEmail{
font-size:13px;
color:#aaa;
}

#loginBtn,
#logoutBtn{
padding:6px 10px;
border:none;
border-radius:6px;
background:#7a00ff;
color:white;
cursor:pointer;
font-size:12px;
}

#logoutBtn{
background:#ff3b3b;
}
